
   <h2 style="margin-left: 1%; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Danh sách các bài thuyết trình</h2>
  <a href="/site/create" style="margin-left: 1%">Thêm bài</a>
    <div class="mt-4 ml-3">
    <div class="row">
      {{#each course}}
<div class="col-sm-6 col-lg-3">
 
 <div class="card" style="width: 20rem; margin-top: 8px;">
  <img class="card-img-top" src="https://i.ytimg.com/vi/{{this.videoID}}/maxresdefault.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text" style="min-height:3rem;">{{this.decription}}</p>
   
    <a href="/site/{{this.slug}}" class="btn btn-primary">Xem ngay</a> 
   <div style=" float:right; margin-top:4%; ">  <a href="">Sửa</a> <a href="/site/delete/{{this._id}}" style="margin-left:5px;">Xóa</a>  </div>  
  </div>
</div>

</div>
{{/each}}

    </div>


    </div>
   
   
     